// For global variables such as colors, fonts, etc.

/* Fonts */
  // Font imports 
  @import url('https://fonts.googleapis.com/css?family=Reem+Kufi|Source+Sans+Pro');

  $SOURCE_SANS: "Source Sans Pro", Helvetica, Arial, sans-serif;
  $REEM_KUFI: "Reem Kufi", Helvetica, Arial, sans-serif;


/* Styling */

  // Radius of buttons
  $BUTTON_RADIUS: 10px;  


/* Colors */
  // Usage: .selector { color: $BLUE_1; }

  // The blue for the SD Hacks logo and primary buttons/hexagons
  $BLUE_1: #19A3C5;

  // The green for success indicators/buttons
  $GREEN_1: #3FC0B0;

  // The white
  $WHITE: #FFFFFF;

  // The black
  $BLACK: #000;

  // The dark background purple
  $PURPLE_1: #4E3863;

  // The light purple in "Resources" section
  $PURPLE_2: #8D6CAB;

  // A cool purple I found (darker), currently unused
  $PURPLE_3: #332541;

  // Gray used for text in mockup
  $GRAY_1: #666666;

  // Light gray (border for white hexagons)
  $GRAY_2: #D9D9D9;

  // Assignments
  $TEXT_COLOR: $GRAY_1;

  $HEADER_COLOR: $BLUE_1;

  $RED_1: #F20044;

/* Breakpoints */
  // Note breakpoints are the upper bound of each device size
  // Usage: @media screen and (max-width: $BP_WHATEVER) { }

  /* Foundation 6 default breakpoints 
   * $breakpoints: (
   *   small: 0px,
   *   medium: 640px,
   *   large: 1024px,
   *   xlarge: 1200px,
   *   xxlarge: 1440px,
   * );
   */
  // Tablet width upper bound
  $BP_LG: 1024px;

  // Mobile device width upper bound
  $BP_MD: 640px;

  // Small desktop width upper bound (ie laptops)
  $BP_XL: 1200px;